<h1>New Session</h1>

<!-- render 'form', session: @session -->

    <div class="container"  role="main">
      <h1>Sign in</h1>

      <%= form_for @user, url: {controller: 'sessions', action: 'create'} do |f| %>

        <% if @user.errors.any? %>
   			 <div id="error_explanation">
      			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this session from being saved:</h2>

      			<ul>
      				<% @user.errors.full_messages.each do |message| %>
       				 <li><%= message %></li>
      				<% end %>
      				</ul>
    				</div>
    				<% end %>
      <%= f.label :name %>
      <%= f.text_field :name %><br />
      <%= f.label :password %>
      <%= f.password_field :password %><br />
      <%= f.submit "Sign In" %>
      <% end %>

    </div>

<%= link_to 'Back', root_path %>
