<%= form_for @comment do |f| %>
<strong><%= f.label "Make A Comment:" %></strong>

<%= f.text_area :content %>
<%= f.hidden_field :photo_id, value: @comment.photo.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
