<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @celebrity.name.titleize %>
</p>
<ul>
  <% @celebrity.photos.each do |photo| %>
  <ul><%= link_to image_tag(photo.image.url(:thumb)), photo_path(photo) %> <br />
  	<%= link_to "Caption: #{photo.caption}", photo_path(photo) %>
  </ul>
  <% end %>
</ul>

<%= link_to "Add to #{@celebrity.name.titleize}", new_photo_path %> | 
<%= link_to 'Edit', edit_celebrity_path(@celebrity) %> |
<%= link_to 'Back', celebrities_path %>
