<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p><strong>Most Recent Post: </strong>
  <%= link_to image_tag(@user.photos.last.image.url(:thumb)), photo_path(@user.photos.last) %>
</p>


<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
