<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
<% if @user.photos.last %>
	<strong>Most Recent Post: </strong>
		<%= link_to image_tag(@user.photos.last.image.url(:thumb)), photo_path(@user.photos.last) %>
	<% end %>
</p>

<p>
<% if @user.comments.last %>
	<strong>Most Recent Comment:</strong>
		<%= link_to @user.comments.last.content, photo_path(@user.comments.last.photo) %>
<% end %>
</p>

<% if current_user == @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %> 
<%= link_to 'View All Users', users_path %>
