<h1>Welcome to Celebrity Bad Picture Day!</h1>
<h4>This site's intellectual property is the brainchild of Jake Dowd.</h4>


<% if !logged_in? %>

<%= link_to "Sign Up", new_user_path %>
<% end %>
 | 
<% if logged_in? %>
<%= link_to "Logout", logout_path %>
<% else %>
<%= link_to "Login", new_session_path %>
<% end %>

<p>
<strong>Show All</strong>
<p><%= link_to "Scare Me (Formerly Known as Show Me The Uglies, aka, Display All Celebrity Bad Photos)", photos_path %></p>

<p>
<strong>Create New</strong>
<p><%= link_to "I have a photo to share", new_photo_path %></p>