<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Celebrity:</strong>
  <%= @photo.celebrity.name %>
  <%= image_tag(@photo.image.url(:medium)) %>
</p>

<p>
  <!-- Comments! -->
  <%= render 'comments/form' %>
  <%= render 'comments/show' %>




<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
