<p id="notice"><%= notice %></p>
<p>
  <strong>Caption:</strong>
  <% if @photo.caption.empty? %>
  <%= link_to "Add A Caption!", edit_photo_path(@photo) %>
  <% else %>
  <%= @photo.caption %>
  <% end %>

</p>

<p>
  <strong>Celebrity:</strong>
  <%= @photo.celebrity.name.titleize %>
  <%= image_tag(@photo.image.url(:medium)) %>
</p>

<p>
  <!-- Comments! -->
  <% if logged_in? %>
  <%= render 'comments/form' %>
  <% end %>
  <%= render 'comments/show' %>




<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
